#price {
  display: inline;
}

#oldprice {
  text-decoration: line-through;
  color: gray;
  display: inline;
}

#lowpercent {
  color: rgb(45, 209, 45);
  text-align: center;
}

#highpercent {
  color: red;
  text-align: center;
}

#fullpost-lowpercent {
  color: rgb(45, 209, 45);
}

#fullpost-highpercent {
  color: red;
}

button {
  float: right;
}

.Post {
  border: 3px solid black;
  min-height: 100px;
  margin: 10px;
  padding: 20px;
  width: 100%;
  border-radius: 3%;
}

.full-post-container {
  text-align: center;
  margin: 3%;
}

.admin-post {
  border: 1px solid black;
  min-height: 100px;
  margin: 10px;
  padding: 10px;
}

.Post img {
  width: 100px;
  float: right;
}

.admin-post img {
  width: 100px;
  float: right;
}

.fullpost-user-actions {
  vertical-align: top;
  margin: 1%;
  width: 20%;
  background-color: rgb(243, 241, 241);
  padding: 1%;
  border-radius: 30%;
  text-align: center;
  display: inline-block;
}

.fullpost-user-actions button {
  margin: 1%;
}

.post-action-information {
  min-height: 100px;
  margin: 10px;
  padding: 20px;
  width: 100%;
  border-radius: 3%;
  color: rgb(30, 255, 0);
}

.del-action-information {
  min-height: 100px;
  margin: 10px;
  padding: 20px;
  width: 100%;
  border-radius: 3%;
  color: rgb(248, 69, 69);
}

.price-info {
  vertical-align: top;
  display: inline-block;
  margin: 1%;
  width: 20%;
  background-color: rgb(243, 241, 241);
  padding: 1%;
  border-radius: 30%;
  text-align: center;
}

.date-info {
  vertical-align: top;
  display: inline-block;
  margin: 1%;
  width: 20%;
  background-color: rgb(243, 241, 241);
  padding: 1%;
  border-radius: 30%;
  text-align: center;
}

.comments-container {
  margin: 1%;
  background-color: rgb(247, 245, 245);
  padding: 2%;
  border-radius: 10px;
  border: 1px solid rgb(233, 233, 233);
}

.img-container {
  width: 300px;
  height: auto;
  text-align: center;
  padding: 15px;
}

#post-ended {
  border: 2px solid red;
  border-radius: 5px;
  padding: 3px;
  width: max-content;
  background-color: rgb(230, 137, 137);
  color: white;
  font-size: small;
}

#post-notstarted {
  border: 2px solid rgb(75, 206, 0);
  border-radius: 5px;
  padding: 3px;
  width: max-content;
  background-color: rgb(111, 233, 117);
  color: white;
  font-size: small;
}

#post-noinfo {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 3px;
  width: max-content;
  background-color: rgb(204, 204, 204);
  font-size: small;
}

.desc {
  margin: 1%;
  background-color: rgb(247, 245, 245);
  padding: 2%;
  border-radius: 10px;
  border: 1px solid rgb(233, 233, 233);
}

.desc h3 {
  float: left;
  margin-top: 0px;
}

.desc p {
  font-size: 16px;
  color: rgb(80, 80, 80);
  word-wrap: break-word;
  margin: 40px 10px 10px 10px;
}