.form-container {
  text-align: center;
  font-size: large;
  justify-content: center;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.date {
  /* padding: 12px 20px; */
  margin: 8px 0;
  width: 200px;
}

p {
  font-size: small;
  color: gray;
  margin-bottom: 1px;
  margin-top: 5px;
}

.form-btn {
  padding: 12px 20px;
  float: left;
  text-align: center;
  display: inline-block;
  margin-left: 47%;
}
