.App {
  width: 80%;
  
}

.App ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.App li {
  display: inline-block;
  margin: 10px;
}

.App a {
  text-decoration: none;
  color: black;
}

.App a:hover,
.App a:active {
  color: gray;
}


.App a.active {
  color: #c78809;
  font-weight: bold;
  font-size: large;
}